<h1 class="mb-3">Add a review for <%= @restaurant.name %></h1>
<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.input :rating %>
  <%= f.input :content %>
  <%= f.submit "Submit review", class: "btn btn-primary btn-sm" %>
<% end %>
<hr>
<%= link_to restaurant_path(@restaurant) do %>
  <div class="btn btn-secondary btn-sm"><i class="fa-solid fa-utensils"></i> Back to the restaurant</div>
<% end %>
